* {
  margin: 0;
  padding: 0;
  outline: none;
}
#blocked {
  position: absolute;
  margin:0 auto;
  /*border: 1px solid #000;*/
  width: 500px;
  height: 332px;
  z-index: 1500;
}
.corpo {
  margin: 140px auto;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  width: 500px;
  padding: 15px;
}
.form-login {
  width: 60%;
  margin: 0 auto;
}
.link-lista {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	font-family: tahoma, verdana;
	font-size: 14px;
}
.post {
	display: inline-block;
	width:100%;
	background-color: #d9d9d9;
	margin-bottom: 5px;
}
.img-post {
  float: left;
}
.titulo {
  float: left;
  margin-top: 25px;
	width:580px;
}
.acoes {
  float: right;
	margin-left: 100px;
	margin-right: 10px;
	margin-top: -16px;
  width: 50px;
}
@media(max-width:520px) {
  .corpo {
    width: 80% !important;
    margin: 140px auto;
	min-height: 350px;
  }
  .logo {
    font-size: 32px;
  }
  .form-login {
    width: 90%;
    margin: 0 auto;
  }
  .primary-button {
    width: 100%;
    font-size: 16px;
  }
  #blocked {
    width: 80%;
    height: 335px;
    z-index: 3000;
  }
  .msg {
    width: 90% !important;
  	text-align: left !important;
  	padding-left: 5px;
  }
  .titulo {
	width: 50%;
  }
}

/*css das páginas de layout*/
.cabecalho {
  position: fixed;
  top: 0;
  z-index: 5000;
  width: 100%;
  height: 95px;
  background-color: #f1f1f1;
  box-shadow: 0px 1px 5px 2px #bbb;
}
.logo {
  margin: 10px 25px;
  font-size:60px;
  font-family: tahoma, verdana;
  color: rgb(2, 87, 139);
}

/*componentes das páginas*/
textarea {
  width: 100%;
  height: 100px;
  text-indent: 4px;
  border: 1px solid #bbb;
  border-radius: 4px;
}
textarea:focus {
  border-color: rgb(2, 87, 139);
}
iframe {
  border: none;
  width: 100%;
}
.primary-button {
  padding: 10px 20px;
  border: 1px solid;
  border-color: rgb(2, 56, 110);
  background-color: rgb(2, 87, 139);
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
}
.campo-text {
  width: 100%;
  height: 35px;
  border: 1px solid #bbb;
  border-radius: 4px;
  text-indent: 4px;
}
.campo-text:focus {
  border-color: rgb(2, 87, 139);
}
.mg-top-5 {
  margin-top: 5px;
}
.mg-top-10 {
  margin-top: 10px;
}
.mg-top-20 {
  margin-top: 20px;
}
.fs {
  font-family: tahoma, verdana;
}
.tam-12 {
  font-size: 12px;
}
.tam-16 {
  font-size: 16px;
}
.tam-20 {
  font-size: 20px;
}
.tam-32 {
  font-size: 32px;
}
.line-solid-1 {
	border-bottom: 1px solid #b5b5b5;
}
.msg {
  position: fixed;
  right: 0;
  top: 135px;
  z-index: 8500;
  width: 50%;
  height: 0px;
  color: #fff;
  font-family: tahoma, verdana;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  opacity: 0;
}
.msg span {
  float:left;
  margin-top: 25px;
  margin-left: 10px;
}
.bg-green {
  background-color: rgba(40, 200, 35, 0.9);
}
.bg-red {
  background-color: rgba(198, 0, 0, 0.9);
}
#modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(40,40,40,0.6);
  display: none;
}
.modal-content {
  width: 500px;
  min-height: 300px;
  border-radius: 6px;
  border: 1px solid #656565;
  margin: 50px auto;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 6px 3px #656565;
}
.modal-top {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #585850;
  font-family: verdana, times, arial;
  border-bottom: 2px solid #696969;
  padding-bottom: 5px;
}
.modal-body {
  margin-top: 10px;
  height: 225px;
  font-size: 12px;
  font-family: verdana, times, arial;
  border-bottom: 2px solid #696969;
}
.modal-bottom {
  float: right;
  margin-top: 10px;
}

/*font colors */
.color-red {
  color: #d00;
}
